[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "prezto"]
	path = prezto
	url = git@github.com:squarefrog/prezto.git
	branch = master
